<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
</head>
<body>
    <a href="/cats/1">
        <img src="cat1.jpg">
    </a>
    <a href="/cats/2">
        <img src="cat2.jpg">
    </a>
    <a href="/cats/3">
        <img src="cat3.jpg">
    </a>
</body>
</html>