<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='cat.css'>

</head>
<body>
    <h1> Page for Cat2</h1>
    <img src='./images/cat2.png' alt='cat2.png'/>
    <% for(var x in cat2){ %>
        <ul>
            <p> At age: <%= cat2[x].age %></p>
            <li> Favorite food: <%= cat2[x].food %></li>
            <li> Favorite sleeping spot: <%= cat2[x].sleep %></li>
        <% } %>
    </ul>
</body>
</html>