<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>car new</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Enter new car info</h1>
    <form>
        <label>Car name</label>
        <input type='text' name='name' />
        <br>
        <label>Car year</label>
        <input type='number' name='name' />
        <br>
        <label>Car desc</label>
        <textarea name='desc' cols=10 rows=3></textarea>
    </form>
</body>
</html>