<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a new car</title>
</head>
<body>
    <form action="/newcar" method="post">
        Make: <input type="text" name="make"><br>
        Model: <input type="text" name="model"><br>
        <button>Submit</button>
    </form>
    
</body>
</html>