<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Cars</title>
</head>
<body>
    <div class="container">
        <h3>Make: <%= car.make %></h3>
        <h3>Model: <%= car.model %></h3>
        <h3>Price: $<%= car.price %></h3>
        <h3>Features:</h3>
        <ul>
            <% for (var i=0; i< car.feature.length; i++){ %>
                <li><%= car.feature[i] %></li>
            <% } %>
        </ul>
    </div>
</body>
</html>